{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/pomodoro.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap" rel="stylesheet">
    <title>Pomodoro</title>
</head>
<body class="color-focus">
    <!-- Appear after clicking setting button -->
    <div class="setting-card-background" id="setting-card-background">
        <div class="setting-card">
            <div class="setting-card-body">
                <div class="setting-card-header">
                    <span>Timer setting</span>
                    <button class="task-setting-button" id="button-close">X</button>
                </div>
                <hr>
                <div style="text-align: left; margin-bottom: 10px;">Time (minutes)</div>
                <div class="setting-action">
                    <div class="time-interval">
                        <label>Pomodoro</label>
                        <input id="focus-length" type="number" min="0" step="1">
                    </div>
                    <div class="time-interval">
                        <label>Short Break</label>
                        <input id="short-length" type="number" min="0" step="1">
                    </div>
                    <div class="time-interval">
                        <label>Long Break</label>
                        <input id="long-length" type="number" min="0" step="1">
                    </div>
                </div>
                <hr>
                <div class="setting-action">
                    <span>Auto start Breaks?</span>
                    <label class="auto-start-switch">
                        <input id="auto-start-break" type="checkbox">
                        <span class="slider-round"></span>
                      </label>
                </div>
                <hr>
                <div class="setting-action">
                    <span>Auto start Pomodoros?</span>
                    <label class="auto-start-switch">
                        <input id="auto-start-focus" type="checkbox">
                        <span class="slider-round"></span>
                    </label>
                </div>
                <hr>
                <div class="setting-action">
                    <span>Long Break interval</span>
                    <input id="long-break-interval" type="number" min="1" step="1" width="70">
                </div>
            </div>
            <div class="setting-card-footer">
                <button id="button-setting-ok">OK</button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="setting">
            <div class="setting-icon">Pomodoro</div>
            <div>
                <button class="setting-button" style="display: none;">Report</button>
                <button class="setting-button" id="button-setting">Setting</button>
            </div>
        </div>
        <hr>
        <div class="timer">
            <div class="mode-button-group">
                <button class="mode-button" style="background: none rgba(0, 0, 0, 0.15);" id="mode-focus">Pomodoro</button>
                <button class="mode-button" id="mode-short">Short Break</button>
                <button class="mode-button" id="mode-long">Long Break</button>
            </div>
            <div class="counter-time" id="countdown"></div>
            <div class="start-button-group">
                <button class="counter-start color-focus" id="button-start">
                    <span>Start</span>
                </button>
                <button class="counter-start color-focus" id="button-skip">
                    <span>>></span>
                </button>
            </div>
        </div>
        <div class="task">
            <div class="period" id="period">#1</div>
            <div class="helper-text" id="helper-text">Time to focus!</div>
            <div class="task-setting">
                <span>Task</span>
                <div>
                    <button class="task-setting-button" id="button-task-setting">⫶</button>
                    <div class="task-setting-dropdown" id="task-setting-dropdown">
                        <div class="task-setting-action" id="button-clear-completed">Clear completed tasks</div>
                        <hr>
                        <div class="task-setting-action" id="button-clear-all">Clear all tasks</div>
                    </div>
                </div>
            </div>
            <hr style="border-color: rgb(255, 255, 255, 0.5);">
            <div class="task-card-group">
                <div class="add-task" id="add-task-button">
                    Add task
                </div>
                <form class="task-card add-task-card" id="add-task-form">
                    <input type="text" id="task-name" name="task-name" placeholder="What are you working on?">
                    <textarea id="task-note" name="task-note" placeholder="Some notes"></textarea>
                    <div class="add-card-button">
                        <button id="button-cancel">Cancel</button>
                        <button id="button-add" disabled>Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
    <script src="{% static 'js/TimeCounter.js' %}"></script>
    <script src="{% static 'js/Task.js' %}"></script>
    <script src="{% static 'js/pomodoro.js' %}"></script>
</html>